<div class="advantage-container">
    <div class="advantage">
        <div class="icon">
            <img src="img/advantage_icons/Parachute.svg" alt="Parachute">
        </div>
        <h6 class="name">
            Launch Design <div class="fa fa-chevron-right"></div>
        </h6>
        <p class="description">
            Awesome notepad app. It gives you a quick and simple notepad editing experience when you write notes.
        </p>
        <p class="pros">
            Icon Fonts, Vector SVG's, pages 14x14px vector icons.
        </p>
    </div>
    <div class="advantage">
        <div class="icon">
            <img src="img/advantage_icons/Prizemedalion.svg" alt="Prizemedalion">
        </div>
        <h6 class="name">
            Award Wining <div class="fa fa-chevron-right"></div>
        </h6>
        <p class="description">
            Quick chat helps you to Keep in touch with your friends and colleagues while working. It has a unique responsive design.
        </p>
        <p class="pros">
            Limitless possibilities, Highly customizable, Great UI & UX
        </p>
    </div>
    <div class="advantage">
        <div class="icon">
            <img src="img/advantage_icons/Umbrella.svg" alt="Umbrella">
        </div>
        <h6 class="name">
            Shop ready <div class="fa fa-chevron-right"></div>
        </h6>
        <p class="description">
            This is a very young collection of charts, with the goal of keeping these components very customizable.
        </p>
        <p class="pros">
            Highly customizable NVD3, rickshaw, Spark Lines, D3.
        </p>
    </div>
</div>