<div class="advantage_slider_container">
    <div class="inner_advantage_slider_container">
        <div class="advantage_slider row">
            <div class="advantage_slide">
                <p>Our motivation "Perfection simplified" helps to craft meaningful
                    experiences for the people around us, This mission inspires us to
                    jump out of bed each day and guides every aspect of what we do.
                </p>
                <div class="image"><img src="img/advantage_slider/image.png" alt=""></div>
            </div>
            <div class="advantage_slide">
                <p>Our motivation "Perfection simplified" helps to craft meaningful
                    experiences for the people around us, This mission inspires us to
                    jump out of bed each day and guides every aspect of what we do.
                    <div class="image"><img src="img/advantage_slider/image.png" alt=""></div>
                </p>
            </div>
            <div class="advantage_slide">
                <p>Our motivation "Perfection simplified" helps to craft meaningful
                    experiences for the people around us, This mission inspires us to
                    jump out of bed each day and guides every aspect of what we do.
                    <div class="image"><img src="img/advantage_slider/image.png" alt=""></div>
                </p>
            </div>
        </div>
        <div class="swipe_icon_container">
            <div class="swipe_icon_element active"></div>
            <div class="swipe_icon_element"></div>
            <div class="swipe_icon_element"></div>
        </div>
    </div>
</div>