
<section id="content">
    <div class="explore">Explore</div>
    <div class="row">
        <div class="col-5 title">
            <p>Different ways to Organize your Content.</p>
        </div>
        <div class="col-7 description">
            <h3>Our long standing vision has been to bypass the usual admin dashboard structure,
                 and move forward with a more sophisticated yet simple framework that would create
                  a credible impact on the many conventional dashboard users.</h3>
            <p>A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
    </div>
</section>