<section id="content">
    <div class="row">
        <div class="title col-4">
            <div class="explore">Explore</div>
            <h1>Different ways to Organize your Content.</h1>
        </div>
        <div class="description col-8">
            <h3>Our long standing vision has been to bypass the usual admin dashboard structure,
                 and move forward with a more sophisticated yet simple framework that would create
                  a credible impact on the many conventional dashboard users.</h3>
            <p>A product is accessible when all people regardless of ability can navigate it, understand it, and use it to achieve goals.</p>
        </div>
    </div>
</section>