<footer class="">
    <div class="footer-content row">
        <div class="footer-logo"><img src="img/logo_white.png" alt=""></div>
        <div class="references-box">
            <div class="reference-container">
                <div class="title">Company</div>
                <ul>
                    <li><a href="#">Design</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Work Station</a></li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Jobs</a></li>
                </ul>
            </div>
            <div class="reference-container">
                <div class="title">Work</div>
                <ul>
                    <li><a href="#">Apps</a></li>
                    <li><a href="#">Popular</a></li>
                    <li><a href="#">Web-Arch</a></li>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Frontend</a></li>
                    <li><a href="#">Charity</a></li>
                    <li><a href="#">Marketplace</a></li>
                </ul>
            </div>
            <div class="reference-container">
                <div class="title">Clients</div>
                <ul>
                    <li><a href="#">Our team</a></li>
                    <li><a href="#">Our location</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
            <div class="reference-container">
                <div class="title">Pages</div>
                <ul>
                    <li><a href="#">Pages</a></li>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Tour</a></li>
                    <li><a href="#">Versions</a></li>
                    <li><a href="#">Dropdown</a></li>
                    <li><a href="#">Pricing Page</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="copyright">Copyright © 2017. All Rights Reserved</p>
</footer>