
<header id="transitionable" class="fixed-nav-bar">
    <div class="row">
        <div class="col-4 logo">
            <img src="img/logo_black.png" class="showed" alt="">
            <img src="img/logo_white.png" class="hidden" alt="">    
        </div>
        <nav class="nav-bar col-8">
            <ul>
                <li><a href="#" target="blank" id="">Home</a></li>
                <li><a href="#" target="blank" id="">About</a></li>
                <li><a href="https://1998maxchykalo.github.io/" target="blank" id="">Portfolio</a></li>
                <li><a href="#" target="blank" id="">About</a></li>
            </ul>
        </nav>
    </div>
</header>