<div class="clipping-container row">
    <div class="clipping-item col-5" id="menu-advantages">
        <div class="explore">Menu Clipping</div>
        <div class="col-12 title">
            <p>Easier to remember and access.</p>
        </div>
        <div class="col-12 description">
            <h3>Menu clipping makes it easier to keep track of the page you are at & helps you to identify menu labels using abbreviations</h3>
            <p>This is something extra to give users an exceptional user experience with a condensed menu.</p>
        </div>
    </div>
    <div class="clipping-item col-7">
        <div class="phone">
            <img src="../../img/mobile/b_phone.png" alt="">
            <div class="screenshot">
                <div class="phone-border">
                    <img src="../../img/mobile/screenshot_for_phone.png" alt="Screenshot">
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">

    </div>
</section>