.advantage-container {
    padding: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .advantage {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        line-height: 1.5;
        h6.name {
            margin-top: 4vh;
            text-transform: uppercase;
            font-weight: 100;
            font-size: .7rem;
            text-shadow: 0 0 1px #555;
            .fa {
                margin-left: 10px;
            }
        }
        p.description {
            color: rgba(55,55,55,.7);
            font-size: .75rem;
            margin-top: 6vh;
            letter-spacing: .05em;
        }
        p.pros {
            margin-top: 6vh;
            color: rgba(144,144,144,.8);
            font-size: .6rem;
        }
    }
}

@media screen and (max-width: 768px){
    .advantage-container {
        grid-template-columns: 1fr;
        padding: 5vh;
    }
}